body {
    margin: 0;
    font-family: Segoe UI;
}

#xv-articolo {
    padding: 15px;
}

label {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 150px;

    font-size: 48px;

    border: 2px solid #ccc;
    border-radius: 10px;

    margin-bottom: 20px;

    box-sizing: border-box;
}

button {

    width: 100%;
    height: 150px;

    margin-bottom: 12px;

    border: none;
    border-radius: 12px;

    font-size: 48px;
    font-weight: bold;

    color: white;
}

.stampa {
    background: #ff8c00;
}

.cerca {
    background: #0078d4;
}

.sposta {
    background: #107c10;
}
#card-result {
    display: none;

    margin: 15px 0;
    padding: 15px;

    border: 1px solid #000;
    border-radius: 8px;

    background-color: #f0f0f0;

    font-size: 32px;
    font-weight: bold;

    color: #000;
}